*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

/* .container{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 200px;
    height: 200px;
    background-color: teal;
    color: white;
    text-align: center;
    align-content: center;
    margin: 20px;
    font-size: 24px;
}

.box-1{
    flex: 1;
} */

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 300px 300px 100px;
    gap: 20px;
    margin: 20px;
}

.item{
   text-align: center;
   align-content: center;
    font-size: 40px;
    border: 4px solid white;
}

.header{
    background-color: teal;
    grid-column-start: 1;
    grid-column-end: 4;
}

.sidebar{
    background-color: tomato ;
    grid-row-start: 2;
    grid-row-end: 4;
}

.content-1{
    background-color: purple;
    grid-column-start: 2;
    grid-column-end: 4;
}

.content-2{
    background-color: orange;
}

.content-3{
    background-color: blue;
}

.footer{
    background-color: chocolate;
     grid-column-start: 1;
    grid-column-end: 4;
}

/* .box{
    background-color: teal;
} */



@media (max-width: 768px) {

    .container{
            grid-template-rows: 100px 300px 300px 300px 100px;

    }
    .header{
        background-color: purple;
    }   

    .sidebar{
        display: none;
    }

    .content-1{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: orange;
}

.content-2{
      grid-column-start: 1;
    grid-column-end: 4;
    background-color:cadetblue;
}

.content-3{
      grid-column-start: 1;
    grid-column-end: 4;
    background-color: blueviolet;
}

}