*{
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    background: #4d0b28;
    background: linear-gradient(180deg, rgb(97, 158, 128) 0%, rgba(148, 187, 233, 1) 100%);

    height: 100vh;
    color: white;
}

/* h1, p{
    background-color: yellow;
} */


h1.text{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

p.text{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    margin-top: 10px;
    color: blue;
}


#submit{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


li >a {
    background-color: rgb(56, 118, 59);
}

/* div > span{
    background-color: green;
    font-size: 20px;
    font-weight: normal;
} */

div span{
    background-color: green;
    font-size: 20px;
    font-weight: normal;
}

div >  {
    font-size: 30px;
    font-weight: bold;
    background-color: red;
}

/* 
h1 + p{
    background-color: blue;
} */

h1 ~ p {
    background-color: brown;
}