
*{
    background-color: black ;
    color: white;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.box_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column  ;
    width: 400px;
    margin: 0 auto;
}


.box{
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    text-align: center;
    align-content: center;
    font-size: 50px;
    transition: 0.3s all ease;
    box-shadow: 4px 4px 10px white;  

}

.box:hover{
    box-shadow: 8px 8px 20px white;
    cursor: pointer;
}

/* ul{
    list-style-type: none;
} */


ol{
    list-style: inside circle;
}
   

