*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.box_container{
    display: flex;
    justify-content: center;
    height: 100vh;
    /* width: 100%; */
    align-items: center;
    gap: 10px;
    background-color: black;
    position: relative;
}

.box{
    width: 200px;
    height: 200px;
    background-color: gray;
    text-align: center;
    align-content: center;
    font-size: 40px;
}

.box1{
    background-color: burlywood;
    position: relative;
}

.box1::before{
    content: '';
    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 100%;
}
.box1::after{
    content: '';
    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
    bottom: -10px;
    left: -10px;
    border-radius: 100%;
}


.box2{
    background-color: aqua;
   /* margin-left: 30px;
   margin-top: 60px; */

   /* position: relative;
   left: 50px;
   top: 20px; */

   /* position: absolute;
   top: 10px;
   right: 10px; */
/* 
   position: sticky;
   top: 10px; */

   position: fixed;
   top: 50px;

}
.box3{
    background-color: brown;
    z-index: 1;

}
.box4{
    background-color: chocolate;

}

.btn{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid cyan;
    border-radius: 5px;
    position: relative;
     overflow: hidden;
     z-index: 10;
        transition: 0.3s ease all;


}

.btn::before{
    content: '';
    position: absolute;
    background-color: blue;
    width: 0%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: 0.3s ease all;
}

.btn:hover::before{
    cursor: pointer;
    width: 100%;
   
}
.btn:hover{
    color: white;
    transform: scale(1.1);
}



.btn-1{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid red;
    border-radius: 5px;
    position: relative;
     overflow: hidden;
     z-index: 10;
        transition: 0.3s ease all;


}

.btn-1::before{
    content: '';
    position: absolute;
    background-color: pink;
    width: 0%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: 0.3s ease all;
}

.btn-1:hover::before{
    cursor: pointer;
    width: 100%;
    rotate: 180deg;
   
}
.btn-1:hover{
    transform: scale(1.1);
}


.btn-2{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid cyan;
    border-radius: 5px;
    position: relative;
     overflow: hidden;
     z-index: 10;
        transition: 0.3s ease all;


}

.btn-2::before{
    content: '';
    position: absolute;
    background-color: blue;
    width: 0%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: 0.3s ease all;
}
.btn-2::after{
    content: '';
    position: absolute;
    background-color: blue;
    width: 0%;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: -1;
    transition: 0.3s ease all;
}

.btn-2:hover::before{
    cursor: pointer;
    width: 50%;
   
}
.btn-2:hover::after{
    cursor: pointer;
    width: 50%;
   
}
.btn-2:hover{
    color: white;
    transform: scale(1.1);
}




.btn-3{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid cyan;
    border-radius: 5px;
    position: relative;
     overflow: hidden;
     z-index: 10;
        transition: 0.3s ease all;


}

.btn-3::before{
    content: '';
    position: absolute;
    background-color: blue;
    width: 0%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: 0.3s ease all;
}
.btn-3::after{
    content: '';
    position: absolute;
    background-color: blue;
    width: 0%;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: -1;
    transition: 0.3s ease all;
}

.btn-3:hover::before{
    cursor: pointer;
    width: 50%;
    rotate: 180deg;
   
}
.btn-3:hover::after{
    cursor: pointer;
    width: 50%;
    rotate: -180deg;

   
}
.btn-3:hover{
    color: white;
    transform: scale(1.1);
}