/* @import url("./secondary.css"); */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    opacity: 1;
}

h1{
    background-color: red;
}

.ferrari-1{
    width: 500px;
    height: 300px;
    border: 5px solid black;
    border-radius: 20px;
    object-fit: cover;
    display: block;
    margin: 0px auto;
}


.bg-image{
    width: 100%;
    /* height: 100vh; */
    background-image: url('https://www.eurokidsindia.com/blog/wp-content/uploads/2023/07/solar-system-870x570.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom right ;
}


p{
    font-size: 20px;
    text-align: center;
    text-align: start;
    color: white;
    text-shadow: 2px 2px 2px #000000;
}



.box{
    width: 300px;
    height: 300px;
    background-color: rgba(255, 0, 0, 0.5);
    margin: 50px auto;
}