*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.product-card{
    background-color: rgb(247, 230, 230);
    border : 6px solid black;
    width: 400px;
    margin: 10px auto;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 40px;
}

/* .image-container{
    width: 400px;
} */

img{
    width: 100%;
    height: auto;
    border-radius: 2px 10px 0 0;
}



.product-card h2,p{
    font-size: 1.25em;
    text-align: center;
    margin-top: 10px;
    color: rgb(44, 5, 5);
}

.product-card p{
    font-size: 1.5em;
    margin-top: 2px;
    text-shadow: 0px 2px 5px rgb(107, 98, 98) ;
}



.product-card span,del{
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-top: 5px;
}


.product-card button{
    color: white;
}



button{
        margin: 10px auto;
        display: block;
        text-align: center;
        padding: 10px 20px;
        font-size: 1.5em;
        background-color: black;
        color: white;
  }


  